* {
    padding: 0px;
    margin: 0px;
    font-family: arial;
}

body {
    background: #182815;
    overflow-y: hidden;
}

.wrapper {
    width: 100%;
    height: 7.5vh;
}

nav {
    opacity: .45;
}

nav:after {
    display: block;
    content: '';
    clear: both;
}

nav h2 {
    color: #fff;
    float: left;
    padding: 15px;
    margin-left: 150px;
}

.links {
    margin-right: 150px;
    float: right;
}

.links li {
    display: inline-block;
    list-style: none;
    position: relative;
}

.links li a {
    display: inline-block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
}

.links li:hover {
    background: #555;
}

.links li:hover .dropdown {
    display: block;
}

.dropdown {
    position: absolute;
    display: none;
    top: 57px;
    left: -1px;
    width: 140px;
    background: #111;
}

.dropdown li {
    border: 2px solid #222;
    display: block;
    color: #fff;
}

.dropdown-link:hover .dropdown-2 {
    display: block;
}

.dropdown-2 {
    position: absolute;
    display: none;
    top: 0px;
    left: 138px;
    width: 150px;
    background: #111;
}

.temporary {
    color: white;
}

#storm {
    margin-top: -4%;
    width: 100%;
    height: 100vh;
}

.text {
    margin-top: 0%;
    margin-left: 3.8%;
    margin-right: 3.8%;
}

p {
    font-size: 115%;
}

p::first-letter {
    font-size: 200%;
    color: green;
}
.container0 {
    position: absolute;
    padding: 20px;

  }
  
  .text-block {
    position: absolute;
    bottom: 20px;
    opacity: .7;
    background-color: #555;
    color: white;
    padding: 240% 472% 270% 472%; 
    margin-left: -1vw;
    bottom: 108%;
  }
  .container1 {
    position: absolute;
    padding: 20px;

  }
  
  .text-block1 {
    position: absolute;
    bottom: 20px;
    opacity: .7;
    background-color: #555;
    color: white;
    padding: 240% 472% 270% 472%; 
    margin-left: 23.9vw;
    bottom: 108%;
  }
  .container2 {
    position: absolute;
    padding: 20px;

  }
  
  .text-block2 {
    position: absolute;
    opacity: .7;
    background-color: #555;
    color: white;
    padding: 240% 472% 270% 472%; 
    margin-left: 27.9vh;
    bottom: -170%;
  }
  .container3 {
    position: absolute;
    padding: 20px;

  }
  
  .text-block3 {
    position: absolute;
    bottom: 20px;
    opacity: .7;
    background-color: #555;
    color: white;
    padding: 240% 472% 270% 472%; 
    margin-left: 39.1vw;
    bottom: -170%;
  }
  
  .buttons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 80%;

  /*   padding: 2em 0em; */
  }
  
  .container {
    text-align: center;
    background-color: #555;
    padding-top: 10%;
    width: 100px;
    height: 92px;
  }
  

  
  p {
    text-align: left;
    color: #444;
    letter-spacing: 0.05em;
    font-size: 0.8em
  }
  
  
  .btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .btn:hover {
    text-decoration: none;
  }
  
  .effect04 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #000;
    outline: solid  2px #000;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
  }
  
  .effect04::before,
  .effect04 span{
      margin: 0 auto;
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-duration: 0.4s;
  }
  
  .effect04:hover{
  
    background-color: #000;
  }
  
  .effect04:hover span{
    -webkit-transform: translateY(-420%) scale(-0.1,20);
            transform: translateY(-420%) scale(-0.1,20);
  }
  
  .effect04::before{
    content: attr(data-sm-link-text);
      color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transform: translateY(500%) scale(-0.1,20);
            transform: translateY(500%) scale(-0.1,20);
  }
  
  .effect04:hover::before{
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1,1);
            transform: translateY(0) scale(1,1);
  }
  
