* {
    padding: 0px;
    margin: 0px;
    font-family: arial;
}

body {
    background: #182815;
    overflow-y: hidden;
}

.wrapper {
    width: 100%;
    height: 7.5vh;
}

nav {
    opacity: .45;
}

nav:after {
    display: block;
    content: '';
    clear: both;
}

nav h2 {
    color: #fff;
    float: left;
    padding: 15px;
    margin-left: 150px;
}

.links {
    margin-right: 150px;
    float: right;
}

.links li {
    display: inline-block;
    list-style: none;
    position: relative;
}

.links li a {
    display: inline-block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
}

.links li:hover {
    background: #555;
}

.links li:hover .dropdown {
    display: block;
}

.dropdown {
    position: absolute;
    display: none;
    top: 57px;
    left: -1px;
    width: 140px;
    background: #111;
}

.dropdown li {
    border: 2px solid #222;
    display: block;
    color: #fff;
}

.dropdown-link:hover .dropdown-2 {
    display: block;
}

.dropdown-2 {
    position: absolute;
    display: none;
    top: 0px;
    left: 138px;
    width: 150px;
    background: #111;
}

.temporary {
    color: white;
}

#storm {
    margin-top: -4%;
    width: 100%;
    height: 100vh;
}

.text {
    margin-top: 0%;
    margin-left: 3.8%;
    margin-right: 3.8%;
}

p {
    font-size: 115%;
}

p::first-letter {
    font-size: 200%;
    color: green;
}
.container {
    position: absolute;
    padding: 20px;

  }
  
  .text-block {
    position: absolute;
    bottom: 20px;
    opacity: .7;
    background-color: #555;
    color: white;
    margin-bottom: 24px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 195px;
    margin-left: 0.2vw;
  }
  .container1 {
    position: absolute;
    padding: 20px;

  }
  
  .text-block1 {
    position: absolute;
    bottom: 20px;
    opacity: .7;
    background-color: #555;
    color: white;
    margin-bottom: 24px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 195px;
    margin-left: 24.5vw;
  }
  .container2 {
    position: absolute;
    padding: 20px;

  }
  
  .text-block2 {
    position: absolute;
    bottom: 20px;
    opacity: .7;
    background-color: #555;
    color: white;
    margin-bottom: 24px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 195px;
    margin-left: 48.8vw;
  }
  .container3 {
    position: absolute;
    padding: 20px;

  }
  
  .text-block3 {
    position: absolute;
    bottom: 20px;
    opacity: .7;
    background-color: #555;
    color: white;
    margin-bottom: 24px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 195px;
    margin-left: 73.2vw;
  }
