/*---------FONTS & IMPORTS--------*/

@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);

/*--------------MARGIN & PADDING RESET--------------*/

* {
    padding: 0px;
    margin: 0px;
    font-family: arial;
}

body {
    background-image: url(img/img29.jpg);
    background-size: cover;
    width: 100;
    height: 100vh;
}

/*---------NAVIGATION, MENU & DROPDOWN MENU + EFFECTS--------*/

.wrapper {
    width: 100%;
    height: 7.5vh;
}

nav {
    opacity: .45;
}

nav:after {
    display: block;
    content: '';
    clear: both;
}

nav h2 {
    color: #fff;
    float: left;
    padding: 15px;
    margin-left: 150px;
}

.links {
    margin-right: 150px;
    float: right;
}

.links li {
    display: inline-block;
    list-style: none;
    position: relative;
}

.links li a {
    display: inline-block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
}

.links li:hover {
    background: #555;
}

.links li:hover .dropdown {
    display: block;
}

.dropdown {
    position: absolute;
    display: none;
    top: 57px;
    left: -1px;
    width: 140px;
    background: #111;
}

.dropdown li {
    border: 2px solid #222;
    display: block;
    color: #fff;
}

.dropdown-link:hover .dropdown-2 {
    display: block;
}

.dropdown-2 {
    position: absolute;
    display: none;
    top: 0px;
    left: 138px;
    width: 150px;
    background: #111;
}

/*---------MAIN PART (TEXT EFFECTS)--------*/

.text {
    margin-top: 0%;
    margin-left: 3.8%;
    margin-right: 3.8%;
}

p {
    font-size: 115%;
}

p::first-letter {
    font-size: 160%;
    color: forestgreen;
}

/*---------PARAGRAPHS & CORRESPONDING IMAGES --------*/


.squaretext {
    background-color: white;
    margin-left: 3vw;
    margin-right: 24vw;
    height: 82%;
    opacity: .7;
    border-radius: 2vw;
    z-index: -10;
    
}
.sqtext {
    word-wrap: break-word;
    width: 35vw;
    text-align: justify;
    margin-left: 20vw;
    z-index: -10;
}
.frtext {
    margin-left: 20vw;
    margin-top: -7vw;
}
.img2 {
    width: 30vw;
    margin-left: 56vw;
    border-radius: 1vw;
    margin-top: -20vh;
}
.sqtext1 {
    margin-left: 10vw;
    z-index: -10;
}
.sqtext2 {
    margin-left: 20vw;
    width: 45vw;
    text-align: justify;
    word-wrap: break-word;
    z-index: -10;
}
.sqtext3 {
    margin-left: 20vw;
    width: 50vw;
    text-align: justify;
    word-wrap: break-word;
    z-index : -10;

}
.img3 {
    margin-top: 4vh;
    margin-left: 0vw;
}
.sqtext4 {
    width: 33vw;
    text-align: justify;
    word-wrap: break-word;
    margin-left: 36vw;
    margin-bottom: 30vh;
    z-index: -10;
}

/*---------OTHER LINKS (MENU) + EFFECTS--------*/

ol {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font: 15px 'Merriweather Sans', 'lucida sans', sans-serif;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  width: 18.75em;
  margin: 0 auto;
  margin-left: 3.5vw;
  margin-top: -55.5vh;
}
ol ol {
  margin-left: 2em;
}
.rounded-list a {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .5em 0;
    background: #ddd;
  color: #444;
    text-decoration: none;
  border-radius: .3em;
    transition: all .5s ease-out; 
}
.rounded-list a:hover{
  background: #eee;
}

.rounded-list a:hover:before{
    transform: rotate(360deg);
    -webkit-transform:rotate(360deg);
}

.rounded-list a:before{
  content: counter(li);
  counter-increment: li;
  position: absolute; 
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: forestgreen;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}

/*--------ASIDE-------*/

.additional {
    background-color: white;
    margin-left: 78vw;
    margin-right: 24vw;
    margin-top: -20vh;
    height: 35%;
    width: 20%;
    border-radius: 2vw;
    z-index: -10;
}

.forestVector{
    margin-left: 2.7vw;
    margin-top: -12vh;
}

/*---------CONTACT US FORM--------*/

.form{
    width: 16vw;
    height:35vh;
    background:#e0e0e0;
    border-radius:8px;
    margin-left:3%;
    margin-top: 6.5%;
    padding:2%;
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;
}

h2{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px solid #78788c;
}

input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}

input:focus{
    border-bottom:2px solid #78788c;
}

.name, .email, .message p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a;
}

.send {
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}

button:hover{
    background:#78788c;
    color:#fff
}
