/*---------FONTS & IMPORTS--------*/

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display:wght@400;500&display=swap');


/*--------------MARGIN & PADDING RESET--------------*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-weight: 800;
}

body {
    overflow-y: hidden;
    background-image: url(../img/img10.jpg);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    width: 100;
    height: 100vh;
}

/*---------NAVIGATION, MENU & DROPDOWN MENU + EFFECTS--------*/

.wrapper {
    width: 100%;
    height: 7.5vh;
}

nav {
    opacity: .8;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
}

nav:after {
    display: block;
    content: '';
    clear: both;
}

nav h2 {
    color: #fff;
    float: left;
    padding: 15px;
    margin-left: 7.8125vw;
}

.links {
    margin-right: 7.8125vw;
    float: right;
}

.links li {
    display: inline-block;
    list-style: none;
    position: relative;
}

.links li a {
    display: inline-block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}

.links li:hover {
    background: #555;
}

.links li:hover .dropdown {
    display: block;
}

.dropdown {
    position: absolute;
    display: none;
    top: 5.88vh;
    left: -0.05vw;
    width: 7.50vw;
    background: #111;
}

.dropdown li {
    border: 2px solid #222;
    display: block;
    color: #fff;
}

.dropdown-link:hover .dropdown-2 {
    display: block;
}

.dropdown-2 {
    position: absolute;
    display: none;
    top: 0vh;
    left: 7.39vw;
    width: 7.8vw;
    background: #111;
}

/*---------MAIN PART (TEXT EFFECTS)--------*/

.text {
    margin-top: 0%;
    margin-left: 3.8%;
    margin-right: 3.8%;
}

p {
    font-size: 115%;
}

p::first-letter {
    font-size: 200%;
    color: green;
}

/*------------BUTTON + EFFECTS------------*/

.buttons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 80%;
    font-family: 'Pattaya', sans-serif;
    /*   padding: 2em 0em; */
}

.buttonPosition {
    text-align: center;
    color: transparent;
    padding-left: 25%;
    font-family: 'Pattaya', sans-serif;
}


p {
    text-align: left;
    color: rgb(255, 255, 255);
    letter-spacing: 0.05em;
    font-size: 0.8em
}

.btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 4.64vh;
    max-width: 8.33vw;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    font-family: 'Pattaya', sans-serif;
}

.btn:hover {
    text-decoration: none;
    font-family: 'Pattaya', sans-serif;
}
/*---------BUTTON OUTLINE--------*/
.effect04 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: white;
    outline: solid 2px white;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
    font-family: 'Pattaya', sans-serif;
}
/*---------BUTTON HOVER ANIMATION--------*/
.effect04::before,
.effect04 span {
    margin: 0 auto;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: 0.4s;
    font-family: 'Pattaya', sans-serif;
}

.effect04:hover {
    background-color: #000;
}
/*---------BUTTON ANIMATION--------*/
.effect04:hover span {
    transform: translateY(-420%) scale(-0.1, 20);
}

.effect04::before {
    content: attr(data-sm-link-text);
    color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(500%) scale(-0.1, 20);
}

.effect04:hover::before {
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
}

/*--------TITLE + ANIMATIONS-------*/

.title1
{
    font-weight: 1000;
    text-align: center;
    font-family: 'Pattaya', sans-serif;
    font-size: 400%;
    color: white;
}

.bigtext {
    font-family: 'Permanent Marker';
}

.fas fa-cannabis {
    font-family: 'Permanent Marker';
}

.container {
    text-align: center;
    margin-left: 25%;
    width:50%;
    animation-name: headline;
    animation-duration: 4.1s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

}
/*---------TITLE ANIMATIONS--------*/
@keyframes headline {
    from {
        transform: translateY(600px);
    }
    to {
        transform: translateY(30px);
    }
}
